.Root {
  overflow: hidden;
  width: 100%;
  border-radius: var(--aspectratio-radius, var(--media-radius));
  background-color: var(--aspectratio-bg, var(--media-bg));
  box-shadow: var(--aspectratio-shadow, var(--media-shadow));
}

.Image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.Fallback {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--aspectratio-bg, var(--media-bg));
  color: var(--aspectratio-fallback-color, var(--typography-auxiliary-color));
  font-family: var(--aspectratio-font-family, var(--typography-font-family));
  font-size: var(--aspectratio-font-size, var(--typography-font-size));
  font-weight: var(--aspectratio-font-weight, var(--typography-font-weight));
  line-height: var(--aspectratio-line-height, var(--typography-line-height));
}
