@import './helpers/mixins.css';
@import '@_linked/css/package.css';

.Content {
  border-radius: var(--popover-radius);
  padding: var(--popover-padding);
  width: var(--popover-width, 16rem);
  background: var(--popover-bg);
  box-shadow: var(--popover-shadow);
  animation-duration: var(--transition-duration-normal);
  animation-timing-function: var(--transition-easing);
  will-change: transform, opacity;
  z-index: var(--layer-popover);

  &[data-state='open'][data-side='top'] {
    animation-name: slideDownAndFade;
  }

  &[data-state='open'][data-side='right'] {
    animation-name: slideLeftAndFade;
  }

  &[data-state='open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
  }

  &[data-state='open'][data-side='left'] {
    animation-name: slideRightAndFade;
  }
}

.Arrow {
  fill: var(--popover-bg);
}

.Close {
  font-family: inherit;
  border-radius: var(--popover-radius);
  height: --spacing(6);
  width: --spacing(6);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--popover-close-color, var(--typography-color));
  position: absolute;
  top: --spacing(2);
  right: --spacing(2);
  transition: var(--transition-normal);

  &:hover {
    background-color: var(--popover-close-bg-hover, var(--bg-hover));
  }

  &:focus-visible {
    @mixin focus;
  }

  svg {
    height: --spacing(5);
    width: --spacing(5);
  }
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-2px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(2px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
