@import '../components/helpers/mixins.css';
@import '@_linked/css/package.css';

.Viewport {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  padding: var(--toast-viewport-padding, var(--notification-padding));
  gap: var(--toast-viewport-gap, var(--notification-gap));
  width: var(--toast-width, --spacing(96));
  max-width: 100vw;
  margin: 0;
  list-style: none;
  z-index: var(--toast-z-index, 2147483647);
  outline: none;
}

.Root {
  position: relative;
  background-color: var(--toast-bg, var(--notification-bg));
  border: 1px solid var(--toast-border, var(--notification-border));
  border-radius: var(--toast-radius, var(--notification-radius));
  box-shadow: var(--toast-shadow, var(--notification-shadow));
  padding: var(--toast-padding, var(--notification-padding));
  display: grid;
  grid-template-areas: 'title action' 'description action';
  grid-template-columns: auto max-content;
  column-gap: var(--toast-gap, var(--notification-gap));
  align-items: center;
  color: var(--toast-text, var(--notification-text));

  &:hover {
    .Close {
      opacity: 1;
    }
  }

  &[data-state='open'] {
    animation: slideIn var(--transition-duration-normal)
      var(--transition-easing);
  }

  &[data-state='closed'] {
    animation: hide var(--transition-duration-normal) ease-in;
  }

  &[data-swipe='move'] {
    transform: translateX(var(--radix-toast-swipe-move-x));
  }

  &[data-swipe='cancel'] {
    transform: translateX(0);
    transition: transform var(--transition-duration-normal) ease-out;
  }

  &[data-swipe='end'] {
    animation: swipeOut var(--transition-duration-normal) ease-out;
  }
}

.Action {
  grid-area: action;
}

.Close {
  font-family: inherit;
  border-radius: var(--notification-radius);
  height: var(--toast-close-size, --spacing(6));
  width: var(--toast-close-size, --spacing(6));
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--toast-close-color, var(--typography-auxiliary-color));
  position: absolute;
  top: --spacing(2);
  right: --spacing(2);
  opacity: 0;
  transition: var(--transition-normal);

  &:focus-visible {
    @mixin focus;
  }

  svg {
    height: var(--toast-close-icon-size, var(--icon-size-md));
    width: var(--toast-close-icon-size, var(--icon-size-md));
  }
}

.Title {
  grid-area: title;
  margin-bottom: --spacing(2);
  font-weight: var(--toast-title-weight, var(--heading-font-weight));
  color: var(--toast-text, var(--notification-text));
  font-size: var(--toast-title-size, var(--typography-font-size));
}

.Description {
  grid-area: description;
  margin: 0;
  color: var(--toast-description-color, var(--typography-color));
  font-size: calc(var(--typography-font-size) - --spacing(1));
  line-height: var(--typography-line-height);
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--toast-viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--toast-viewport-padding)));
  }
}
